/* Importa los estilos base de Tailwind CSS */
@import 'tailwindcss/base';
/* Importa los estilos de los componentes de Tailwind CSS */
@import 'tailwindcss/components';
/* Importa los estilos de utilidades de Tailwind CSS */
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* NAVBAR */

.nav {
  border-radius: 25px;
  background-color: rgba(0, 0, 0, .7);
  box-shadow: 0 0 5px white;
}

.show {
  position: fixed !important;
  transform: translateY(0);
  transition: all .5s ease;
}

.hidde {
  position: fixed !important;
  transform: translateY(-100px);
  transition: all .5s ease;
}

.burger-items:nth-child(1) {
  animation: outT 0.8s backwards;
  animation-direction: reverse;
}

.burger-items:nth-child(2) {
  animation: outM 0.8s backwards;
  animation-direction: reverse;
}

.burger-items:nth-child(3) {
  animation: outBtm 0.8s backwards;
  animation-direction: reverse;
}

.burger-items:nth-child(1).active {
  animation: inT 0.8s forwards;
}

.burger-items:nth-child(2).active {
  animation: inM 0.8s forwards;
}

.burger-items:nth-child(3).active {
  animation: inBtm 0.8s forwards;
}

@keyframes outT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@keyframes outBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
      background-color: white;
  }
}

@keyframes inM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
      background-color: white;
  }
}

@keyframes inBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
      background-color: white;
  }
}

.btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #ff135a;
  --color-outline: #ff145b80;
  --color-shadow: #00000080;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

/* HERO */

.cursorText {
  opacity: 1;
  animation: titilar .5s infinite step-end;
}

@keyframes titilar {
  50% {
    opacity: 0;
  }
}

/* MEDIA QUERIES */

@media screen and (width > 1024px) {
  .aside {
    display: none !important;
  }
}

@media screen and (width < 1024px) {
  .nav {
    display: none !important;
  }
}